@charset "UTF-8";
/* HOME */
img {
  margin: 2px;
  padding: 1px; }

h1 {
  font-weight: bold;
  text-align: center;
  margin: 5px;
  padding: 5px; }

h3 {
  font-size: 18px;
  text-align: center; }

main h3 {
  color: #24061f; }

main p {
  color: indianred;
  font-family: 'Open Sans', sans-serif;
  margin: 2px;
  padding: 2px;
  text-align: center; }

.imagenHorizontal {
  width: 100%; }

section p {
  color: indianred;
  font-family: 'Open Sans', sans-serif;
  margin: 2px;
  padding: 2px; }

/* ARMA TU VIAJE */
ol {
  color: #0c0611;
  font-family: 'Open Sans', sans-serif;
  list-style-type: square;
  font-size: 1rem; }

.contenedorArmaTuViaje {
  background-color: antiquewhite;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.headerArmaTuViaje {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.logoArmaTuViaje {
  margin: 3px; }

.tituloArmaTuViaje {
  margin-left: 300px;
  padding-top: 18px; }

.mainArmaTuViaje {
  background-color: #f1d3ec;
  padding: 0.8rem;
  width: 70%; }

.imagenListado img {
  vertical-align: top;
  width: 100%; }

.listado {
  margin: 20px;
  font-size: 1rem;
  line-height: 1.5rem; }

.costadoArmaTuViaje {
  background-color: #c3ecec;
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.imagenCostado img {
  vertical-align: top;
  width: 100%;
  padding: 20px; }

.contenidoArmaTuViaje p {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: black;
  padding: 20px; }

/* ARMA TU VIAJE TEMPORADAS */
.armaTuViaje {
  margin: 10px;
  padding: 10px; }

.temporadaBaja {
  color: seagreen;
  margin-left: 10px; }

.temporadaMedia {
  color: #cdbe32;
  margin-left: 10px; }

.temporadaAlta {
  color: tomato;
  margin-left: 10px; }

/* CONTACTO */
legend {
  color: #f5f5f5;
  font-family: 'Raleway', sans-serif;
  font-size: large; }

form {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: smaller;
  background-image: url(../Multimedia/disney-globos.jpg);
  margin: 3px;
  padding: 3px; }

form div {
  margin: 5px;
  padding: 2px; }

/* CURIOSIDADES */
.curiosidadesDisney {
  text-align: center;
  padding: 10px; }

#curiosidadesDisney h3 {
  color: #24061f;
  font-size: 30px;
  font-style: 'Raleway', sans-serif; }

.containerCuriosidadesImg {
  width: 100%;
  display: inline-block;
  padding: 20px; }

.containerCuriosidadesImg div {
  display: inline-block;
  width: 300px;
  margin: 5px; }

h2 {
  color: rebeccapurple;
  font-family: 'Open Sans', sans-serif;
  margin: 3px;
  padding: 3px; }

h3 {
  color: slateblue;
  font-family: 'Raleway', sans-serif;
  margin: 3px;
  padding: 3px; }

.animacionCard {
  transition: all 0.2s ease-in-out; }

.animacionCard:hover {
  filter: opacity(0.8);
  box-shadow: 0 5px 15px #f58cab; }

/* LOS PARQUES */
.carrousel {
  width: 50%;
  margin: 0 auto; }

.parquesTitulo {
  font-size: 24px;
  color: #24061f; }

.parrafoParques {
  margin: 10px; }

.bannerMagic {
  background-image: url(../Multimedia/banner-magic.jpg);
  float: left;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px; }
  .bannerMagic h3 {
    padding-top: 65px;
    color: #fff;
    font-size: 32px; }

.bannerAtracciones {
  background-image: url(../Multimedia/banner-atracciones.jpg);
  float: left;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px; }
  .bannerAtracciones h3 {
    padding-top: 65px;
    color: #fff;
    font-size: 32px; }

.cardAtracciones {
  display: inline-block;
  padding: 20px; }
  .cardAtracciones div {
    display: inline-block;
    margin: 14px; }

/* NOSOTROS */
.agentes {
  text-align: center;
  font-family: 'Open Sans', sans-serif; }

.contenedorNosotros {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "hijoImagen hijoTabla" "hijoImagen hijoInfo"; }

.hijoImagen {
  grid-area: hijoImagen; }

.hijoImagen img {
  width: auto; }

.hijoTabla {
  grid-area: hijoTabla;
  margin-top: 30px;
  padding: 5px; }

.hijoInfo {
  grid-area: hijoInfo;
  padding: 10px;
  text-align: center;
  padding-top: 40px; }

tr {
  color: darkcyan; }

table {
  text-align: center;
  margin-left: 10px; }

.hijoImagen img {
  border-radius: 10px; }

.listaViñetas {
  font-size: small;
  list-style-type: none; }

.tablaNosotros {
  border: #24061f solid 1px; }

.tablaNosotros tr {
  border: #24061f solid 1px;
  font-family: 'Raleway', sans-serif; }

.tablaNosotros tr th {
  border: #24061f solid 1px;
  padding: 5px;
  font-family: 'Raleway', sans-serif; }

.tablaNosotros tr td {
  border: #24061f solid 1px;
  padding: 5px;
  font-family: 'Raleway', sans-serif; }

.tablaNosotros tr td ol li {
  font-family: 'Raleway', sans-serif;
  color: darkcyan;
  font-size: 15px; }

.hijoInfo h3 {
  color: #24061f; }

/* QUERRIES */
@media only screen and (max-width: 576px) {
  .carrousel {
    width: 100%; }
  #curiosidadesDisney h3 {
    font-size: 20px; }
  .cardAtracciones div {
    margin: 20px; }
  .mainArmaTuViaje {
    width: 100%; }
  .costadoArmaTuViaje {
    width: 100%; }
  .contenedorNosotros {
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "hijoImagen" "hijoTabla" "hijoInfo"; }
  .redesSociales a {
    width: 10px; }
  .redesSociales img {
    width: 20px; }
  .infoCreador h4 {
    font-size: 10px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #24061f;
  font-family: sans-serif;
  background-color: #fff0f8; }

header {
  color: steelblue;
  margin: 5px;
  padding: 5px; }

footer {
  width: 100%;
  margin-top: 20px 0;
  color: #63335b;
  font-family: 'Raleway', sans-serif;
  background-color: white;
  opacity: .7;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: solid 1px #63335b; }

.redesSociales a {
  color: #63335b;
  margin-left: 20px;
  width: 30px; }

.redesSociales img {
  width: 40px;
  opacity: .7; }

.infoCreador h4 {
  font-size: 15px;
  color: #24061f;
  padding-top: 15px;
  margin-left: 10px; }
