/* ARMA TU VIAJE */
ol  {
    color: $coloroscuro;
    font-family: 'Open Sans', sans-serif;
    list-style-type: square;
    font-size: 1rem;
}
.contenedorArmaTuViaje  {
    background-color: $bgbody;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mainArmaTuViaje    {
    background-color: $colorarmaclaro;
    padding: 0.8rem;
    width: 70%;
}
.imagenListado  {
    img     {
        vertical-align: top;
    width: 100%;
    }
}
.listado    {
    margin: 20px;
    font-size: 1rem;
    line-height: 1.5rem;
}
.costadoArmaTuViaje {
    background-color: $colorarmaoscuro;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.imagenCostado  {
    img     {
        vertical-align: top;
        width: 100%;
        padding: 20px; 
    }
}
.contenidoArmaTuViaje   {
    p   {
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        color: $coloroscuro;
        padding: 20px; 
    }
}
/* ARMA TU VIAJE TEMPORADAS */

.armaTuViaje    {
    margin: 10px;
    padding: 10px;
}
.temporadaBaja {
    color: $colorverde;
    margin-left: 10px;
}
.temporadaMedia     {
    color: $coloramarillo;
    margin-left: 10px;
}
.temporadaAlta {
    color: $colorrojo;
    margin-left: 10px;
}