$bgbody: #fff0f8;
$coloroscuro: #24061f;
$colorfooter: #63335b;
$colorrosa: #cd5c5c;
$colorblanco: #fff;
$colorarmaclaro: #f1d3ec;
$colorarmaoscuro: #c3ecec;
$colorverde: #2e8b57;
$coloramarillo: #cdbe32;
$colorrojo: #ff6347;
$colorcontacto: #f5f5f5;
$colortabla: #008b8b;




