/* CONTACTO */

legend  {
    color: violet;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: large;
}
form  {
    color: white;
    font-size: smaller;
    background-image: url(../Multimedia/disneyglobos.jpg);
    margin: 3px;
    padding: 3px;
    
}
footer  {
    width: 100%;
    margin-top: 20px 0;
    color: rgb(99, 51, 91);
    font-family: 'Raleway', sans-serif;
    background-color: white;
    opacity: .7;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: solid 1px rgb(99, 51, 91);
}
.redesSociales a    {
    color: rgb(99, 51, 91);
    margin-left: 20px;
    width: 30px;
}
.redesSociales img  {
    width: 40px;
    opacity: .7;
}
.infoCreador h4    {
    font-size: 15px;
    color: #24061f;
    padding-top: 15px;
    margin-left: 10px;
}
