/* CONTACTO */

legend  {
    color: $colorcontacto;
    font-family: 'Raleway', sans-serif;
    font-size: large;
}
form  {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: smaller;
    background-image: url(../Multimedia/disney-globos.jpg);
    margin: 3px;
    padding: 3px;
    div {
        margin:5px;
        padding: 2px;
    }
}
