/* CURIOSIDADES */

.curiosidadesDisney {
    text-align: center;
    padding: 10px;
    h3  {
        color: $coloroscuro;
    font-size: 30px;
    font-style: 'Raleway', sans-serif;
    }

}

.containerCuriosidadesImg   {
    width: 100%;
    display: inline-block;
    padding: 20px;
    div     {
        display: inline-block;
        width: 300px;
        margin: 5px;
    }
}

@mixin h ($margin, $padding) {
    margin: $margin;
    padding: $padding;
}
h2  {
    font-family: 'Open Sans', sans-serif;
    @include h (3px, 3px);
}
h3  {
    font-family: 'Raleway', sans-serif;
    @include h (3px, 3px);
}
.animacionCard  {
    transition: all 0.2s ease-in-out;
}
.animacionCard:hover    {
    filter: opacity(.8); 
    box-shadow: 0 5px 15px #f58cab;
}