/* HOME */


img    {
    margin: 2px;
    padding: 1px;
}
h1     {
    font-weight: bold;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
h3     {
    font-size: 18px;
    text-align: center;
}
main   {
    h3  {
        color: #24061f;   
    }
    p   {
        color: #cd5c5c;
        font-family: 'Open Sans', sans-serif;
        margin: 2px;
        padding: 2px;
        text-align: center;
    }

}
.imagenHorizontal   {
    width: 100%;
}
section     {
    p   {
        color: #cd5c5c;
        font-family: 'Open Sans', sans-serif;
        margin: 2px;
        padding: 2px;  
    }
}


