/* HOME */


img {
    margin: 2px;
    padding: 1px;
}
h1  {
    font-weight: bold;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
h3{
    font-size: 18px;
    text-align: center;
}
main h3{
    color: #24061f;

}
.imagenHorizontal{
    width: 100%;
}
.imagenHorizontal:hover{
    filter: sepia(60%);
}
main p   {
    color: indianred;
    font-family: 'Open Sans', sans-serif;
    margin: 2px;
    padding: 2px;
    text-align: center;
}
section p   {
    color: indianred;
    font-family: 'Open Sans', sans-serif;
    margin: 2px;
    padding: 2px;
    
}
