/* LOS PARQUES */


.carrousel  {
    width: 50%;
    margin: 0 auto;
}
.parquesTitulo{
    font-size: 24px;
    color: #24061f;
}
.parrafoParques{
    margin: 10px;
}
.bannerMagic{
    background-image: url(../Multimedia/banner-magic.jpg);
    float: left;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    h3 {
        padding-top: 65px;
        color: #fff;
        font-size: 32px;
    }

}
.bannerAtracciones{
    background-image: url(../Multimedia/banner-atracciones.jpg);
    float: left;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    h3 {
        padding-top: 65px;
        color: #fff;
        font-size: 32px;
    }

}

.cardAtracciones{
    display: inline-block;
    padding: 20px;   
    
}
.cardAtracciones div{
    display: inline-block;
    margin: 14px;
}
