/* LOS PARQUES */

.carrousel  {
    width: 60%;
    margin: 0 auto;
}
.parrafoParques {
    color: $coloroscuro;
    margin: 0 auto;
    padding-top: 10px;
    width: 90%;
    p{
        color: $coloroscuro;
        font-family: 'Raleway', sans-serif;
    }
}
.parquesTitulo  {
    font-size: 24px;
    color: $coloroscuro;
}
.bannerMagic    {
    background-image: url(../Multimedia/banner-magic.jpg);
    float: left;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
    h3 {
        padding-top: 65px;
        color: $colorblanco;
        font-size: 32px;
    }

}
.parrafoAcordeon{
    font-family: 'Raleway', sans-serif;
}
.bannerAtracciones  {
    background-image: url(../Multimedia/banner-atracciones.jpg);
    float: left;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    h3  {
        padding-top: 65px;
        color: $colorblanco;
        font-size: 32px;
    }

}
.cardAtracciones    {
    width: 100%;
    display: inline-block;
    padding: 20px;   
    div     {
        display: inline-block;
        margin: 12px;
    }
    
}
.atraccionesTituloCard  {
    font-family: 'Raleway', sans-serif;
}
.atraccionesListaCard   {
    font-family: 'Raleway', sans-serif;
}