/* LOS PARQUES */

.tablaParques{
    margin: 5px;
}
.losParques {
    color: teal;
}
.carrousel  {
    width: 50%;
    margin: 0 auto;
}
.atraccionesTitulo{
    font-size: 24px;
}
.parrafoParques{
    margin: 10px;
}
.bannerMagic{
    background-image: url(../Multimedia/banner-magic.jpg);
    float: left;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    h3 {
        padding-top: 65px;
        color: #fff;
        font-size: 32px;
    }

}
