/* QUERRIES */
@media only screen and (min-width: 320px) and (max-width: 576px) {
    /* CARROUSEL PARQUES */
    .carrousel{
        width: 100%;
    }
    /* CARDS ATRACCIONES LOS PARQUES */
    .cardAtracciones    { 
        width: 100%;
        div     {
            display: inline;
            margin: 0 auto;
            width: 90%;
        }
    }
    /* CARDS CURIOSIDADES */
    #curiosidadesDisney h3  {
        font-size: 20px;
    }
    /* ARMÁ TU VIAJE */
    .mainArmaTuViaje    {
        width: 100%;
    }
    .costadoArmaTuViaje {
        width: 100%;
    }
    /* NOSOTROS */
    .contenedorNosotros {
        padding: 5px;
        margin: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "hijoImagen"
            "hijoTabla"
            "hijoInfo";
    }
    .hijoImagen {
        img     {
            padding: 10px;
            width: 380px;
        }
    }
    .agentes    {
        width: 330px;
        font-size: 12px;
        padding-left: 3px;
        margin: 0 auto;
    }
    .hijoTabla {
        width: 95%;
    }
    tr  {
        th  {
            font-size: 12px;
        }
        td  {
            font-size:12px;
            ol  {
                padding: 0;
            }
        }
    }
    .hijoInfo {
        width: 100%;
        h3  {
            width: 350px;
            font-size: 20px;
        }
        p   {
            width: 350px;
            font-size: 12px;
        }
    }
    /* FOOTER */
    .redesSociales a    {
        width: 15px;
    }
    .redesSociales img  {
        width: 25px;
    }
    .infoCreador h4    {
        padding-top: 7px;
        font-size: 11px;
    }
    

}
@media only screen and (min-width: 577px) and (max-width: 1023px) {
    .carrousel{
        width: 100%;
    }
    .cardAtracciones    { 
        width: 100%;
        div     {
            display: inline-block;
            margin: 22px;
        }
    }
    .mainArmaTuViaje    {
        width: 100%;
    }
    .costadoArmaTuViaje {
        width: 100%;
    }
    .contenedorNosotros {
        padding: 5px;
        margin: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "hijoImagen"
            "hijoTabla"
            "hijoInfo";
    }
    .hijoImagen {
        img     {
            padding: 10px;
            width: 700px;
        }
    }
    .agentes    {
        width: 650px;
        font-size: 12px;
        padding-left: 3px;
        margin: 0 auto;
    }
    .hijoTabla {
        width: 95%;
    }
    tr  {
        th  {
            font-size: 20px;
        }
        td  {
            font-size:20px;
            ol  {
                li  {
                    font-size: 8px;
                }
            }
        }
    }

}
@media only screen and (min-width: 1624px) {
    .cardAtracciones    { 
        div     {
            margin: 40px;
        }
        
    }
    .contenidoArmaTuViaje   {
        p   {
            font-size: 1.2rem;
        }
    }
}