/* QUERRIES */
@media only screen and (max-width: 576px){
    .carrousel{
        width: 100%;
    }
    #curiosidadesDisney h3  {
        font-size: 20px;
    }
    .mainArmaTuViaje    {
        width: 100%;
    }
    .costadoArmaTuViaje {
        width: 100%;
    }
    .contenedorNosotros {
        padding: 5px;
        margin: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "hijoImagen"
            "hijoTabla"
            "hijoInfo";
    }
    .hijoImagen {
        width: 100px;
        img     {
            padding: 10px;
            width: 330px;
        }
    }
    .agentes    {
        width: 270px;
        font-size: 12px;
        p   {
            padding-left: 70px;
        }
    }
    .tablaNosotros  {
        width: 280px;
    }
    tr  {
        th  {
            font-size: 12px;
        }
        td  {
            font-size:12px;
            ol  {
                li  {
                    font-size: 10px;
                }
            }
        }
    }
    
    .hijoInfo {
        width: 100%;
        h3  {
            width: 330px;
            font-size: 20px;
        }
        p   {
            width: 300px;
            font-size: 12px;
        }
    }
    
    .redesSociales a    {
        width: 15px;
    }
    .redesSociales img  {
        width: 25px;
    }
    .infoCreador h4    {
        padding-top: 7px;
        font-size: 11px;
    }
    

}