@import "index";
@import "armatuviaje";
@import "contacto";
@import "curiosidades";
@import "losparques";
@import "nosotros";
@import "colores";

*   {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body    {
    color: $coloroscuro;
    font-family: sans-serif;
    background-color: $bgbody;
}
header  {
    margin: 5px;
    padding: 5px;
    
}
footer  {
    width: 100%;
    margin-top: 20px 0;
    color: $colorfooter;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    opacity: .7;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: solid 1px $colorfooter;
}

.redesSociales  {
    a   {
        color: $colorfooter;
        margin-left: 20px;
        width: 30px;
    }
    img     {
        width: 40px;
        opacity: .7;
    }
}
.infoCreador    {
    h4  {
        font-size: 15px;
        color: $coloroscuro;
        padding-top: 15px;
        margin-left: 10px;
    }
}
@import "querries";