@import "index";
@import "armatuviaje";
@import "contacto";
@import "curiosidades";
@import "losparques";
@import "nosotros";
@import "querries";


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body    {
    color: rgb(36, 6, 31);
    font-family: sans-serif;
    background-color: #fff0f8;
}
header  {
    color: steelblue;
    margin: 5px;
    padding: 5px;
    
}
footer  {
    width: 100%;
    margin-top: 20px 0;
    color: rgb(99, 51, 91);
    font-family: 'Raleway', sans-serif;
    background-color: white;
    opacity: .7;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: solid 1px rgb(99, 51, 91);
}
.redesSociales a    {
    color: rgb(99, 51, 91);
    margin-left: 20px;
    width: 30px;
}
.redesSociales img  {
    width: 40px;
    opacity: .7;
}
.infoCreador h4    {
    font-size: 15px;
    color: #24061f;
    padding-top: 15px;
    margin-left: 10px;
}
